#krishnaraj {
  background-image: url("../assets/img/krishnaraj.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#saubhagya {
  background-image: url("../assets/img/saubhagya.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#karad {
  background-image: url("../assets/img/karad.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#parth {
  background-image: url("../assets/img/parth.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

